* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    text-align: center;
    padding: 40px;
}
div{
    display: block;
    margin: auto;
    width: 400px;
    height: 500px;
    background-color: gray;
}
.container{
    display: grid;
    grid-template-columns: repeat(4);
    grid-template-rows: repeat(6);
    gap: 10px; 
  }
  #display{
    grid-column: 3;
    grid-row: 1;
  }