* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    text-align: center;
    padding: 40px;
}
table{
    background-color: darkgray;
    width: 400px;
    height: 500px;
    margin: auto;
}